<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/requirements.css" rel="stylesheet">
	<link href="/css/jumbotron.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/summaryW.js"></script>
  <script src="js/Chart.js"></script>

</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TrackStanford</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/requirement/University">University</a></li>
          <li><a href="/requirement/Major">Major</a></li>
          <li><a href="/summary">Summary</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


	<div class="container">
		<div class="jumbotron">
			<h1 class ="center-class">Summary</h1>
		</div>
	</div>
	
	

	<!-- <div class ="center-class">
		<canvas id="universityChart" width="500" height="500"></canvas>	
	</div>
	<div class ="center-class">
		<canvas id="majorChart" width="500" height="500"></canvas>	
	</div>

	<div>
	<a href="../index" >
    	<button type="button" class="btn btn-info btn-sm bottom">
      	Home
    	</button>
  	</a>
  	</div>


	<script src="/js/unireq.js"></script>
	
</body>
</html> -->

<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- <div id="test-chart" style="width: 900px; height: 500px;">
    </div> -->

<div id="university-chart" style="width: 900px; height: 500px;">
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Courses', 'Completed', 'Required'],
          ['IHUM',  3,      3],
          ['Disciplinary Breadth',  3,      5],
          ['Education for Citizenship',  1,       2]
        ]);

        var options = {
          title: 'University Requirements',
          vAxis: {title: 'Courses',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('university-chart'));
        chart.draw(data, options);
      }
    </script>
</div>
<div id="major-chart" style="width: 900px; height: 500px;">
  	<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        
        var data = google.visualization.arrayToDataTable([
          ['Courses', 'Completed', 'Required'],
          ['Math',  3,      4],
          ['Science',  2,      3],
          ['Technology in Society',  1,      1],
          ['Engineering Fundamental',  2,      3],
          ['Writing in the Major',  0,      1],
          ['Core',  2,      3],
          ['Speciality',  2,      4],
          ['Capstone',  0,       1]
        ]);
        
        //console.log("On summary page");
        //console.log(structuredDataForGraph);
        //var data = google.visualization.arrayToDataTable(structuredDataForGraph);

        var options = {
          title: 'Major Requirements',
          vAxis: {title: 'Courses',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('major-chart'));
        chart.draw(data, options);
      }
    </script>
</div>

	<div>
	<a href="../index" >
    	<button type="button" class="btn btn-info btn-sm bottom">
      	Home
    	</button>
  	</a>
  	</div>

  </head>


  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>