<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<!-- this is a comment in HTML -->
	<div class="container">
		<div class="jumbotron">
  			<h1>General Requirements</h1>
  			<p>Class of 2014 </p>
		</div>

    <h2>IHUM</h2>
    <h4>Complete all</h4>
    <ul>
      <li>IHUM 1</li>
      <li>IHUM 2</li>
      <li>IHUM 3</li>
    </ul>

    <h2>Writing and Rhetoric</h2>
    <h4>Complete 1 option</h4>
    <ul>
      <li>PWR 1</li>
      <li>PWR 2</li>
      <p></p><p>OR</p>
      <li>Structured Liberal Education (SLE)</li>
      <p></p><p>OR</p>
      <li>Education as Self-Fashioning Program (ESF)</li>
    </ul>
    
    <h2>GER - Education for Citizenship</h2>
    <h4>Complete 2 of 4</h4>
    <ul>
      <li>Ethical Reasoning</li>
      <li>Global Community</li>
      <li>American Cultures</li>
      <li>Gender Studies</li>
    </ul>

    <h2>Language</h2>
    <h4>Choose 1</h4>
    <ul>
      <li>First 3 quarters of a language</li>
      <li>AP Language Placement</li>
      <li>SAT II Subjet Text Placement</li>
    </ul>


    <p><a href="/">Back &raquo;</a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
