.fixedWidth {
    width: 300px !important;
}

#trackTitle{
     visibility: hidden;
}

#trackfield {
     visibility: hidden;
}

#majorButton {
     visibility: hidden;
}
#classButton {
     visibility: hidden;
}

hr {
     border: none;
     height: 2px;
     color: #333;
     background-color: #333;
}