.fixedWidth {
    width: 120px;
    height: 100px;
}

hr {
     border: none;
     height: 2px;
     color: #333;
     background-color: #333;
}

.home_button{
	width: 80px;
	height: 33px;
}

.padding{
	/*margin-left: 20px;*/
	padding-left: 24px;
}